:root {
    --font-family: "Playfair Display" , serif ;
    --second-family: "Ubuntu" ;
}

body {
    font-family: "Playfair Display" , serif ;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

}

a:hover {
    color: blue;
}

.container {
    width: 906px;
    padding: 0 ;
    margin: 0 auto;
}

.main {
    margin-bottom: 94px;
}

.header-list {
    display: flex;
    gap: 100px;
    padding-top: 71px ;
    padding-bottom: 92px ;
    justify-content: center;

}

.main-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 126px;
    column-gap: 65px;
    padding: 0;
    margin: 0;
}



/* .main-item {
    margin: 32px;
} */

.main-item img {
    margin-bottom: 62px;
}

.main-wrapper {
    width: 420px;
}

.main-wrapper span {
    margin-bottom: 32px;
    display: block;
}

.main-wrapper h2 {
    margin-bottom: 40px;
    margin-top: 0;
}

.main-wrapper p {
    margin: 0;
}

.container.foot {
    text-align: center;

}

.container.foot button {
    width: 165px;
height: 60px;
font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
color: #626262;
border: 1px solid #626262;
cursor: pointer;
}

.container.foot button:hover {
    background-color: #f3db98;
    color: #ffffff;
}